[submodule "backend"]
	path = backend
	url = https://github.com/vivagarwal/pastebin_backend.git
[submodule "pastebin_frontend"]
	path = pastebin_frontend
	url = https://github.com/vivagarwal/pastebin_frontend
